

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    min-height: 120vh;
    background-image: url(images/model-working.jpg);
    background-size: cover;
    
}

.wrapper{
    max-width: 1160px;
    margin: 0 auto;
}

header{
    background-color: ;
}

.headerContent{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

